---
import { badgeVariants } from '@/components/ui/badge'
import { formatDate } from '@/lib/utils'
import { Icon } from 'astro-icon/components'
import type { CollectionEntry } from 'astro:content'
import Link from '../link.astro'

interface Props {
  entry: CollectionEntry<'craft'>
}

const { entry } = Astro.props
---

<Link
  href={`/${entry.collection}/${entry.id}`}
  class="group flex flex-col gap-y-1"
>
  <div class="flex items-center justify-between gap-4">
    <span
      class="decoration-muted-foreground font-medium underline-offset-4 group-hover:underline"
    >
      {entry.data.title}
    </span>
    <span class="text-muted-foreground shrink-0 text-sm">
      {formatDate(entry.data.date)}
    </span>
  </div>
  {
    entry.data.description && (
      <p class="text-muted-foreground text-sm">{entry.data.description}</p>
    )
  }
  {
    entry.data.tags && entry.data.tags.length > 0 && (
      <div class="mt-1 flex flex-wrap gap-1.5">
        {entry.data.tags.map((tag) => (
          <span class={badgeVariants({ variant: 'muted' })}>
            <Icon name="lucide:hash" class="size-3" />
            {tag}
          </span>
        ))}
      </div>
    )
  }
</Link>
