---
import Aside from '@/components/AsideNavigation.astro'
import AuthorCard from '@/components/AuthorCard.astro'
import BlogCard from '@/components/BlogCard.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllAuthors, getPostsByAuthor } from '@/lib/data-utils'

export async function getStaticPaths() {
  const authors = await getAllAuthors()
  return authors.map((author) => ({
    params: { id: author.id },
    props: { author },
  }))
}

const { author } = Astro.props
const authorPosts = await getPostsByAuthor(author.id)
---

<Layout class="relative max-w-7xl px-4 pt-16">
  <PageHead
    slot="head"
    title={`${author.data.name} (Author)`}
    description={author.data.bio || `Profile of ${author.data.name}.`}
  />
  <main
    class="relative grid grid-cols-1 gap-4 md:grid-cols-4 md:gap-8 lg:grid-cols-[1fr_35rem_1fr] items-start"
  >
    <Aside />
    <div class="space-y-12">
      <AuthorCard author={author} />
      <section class="flex flex-col gap-y-4">
        <h2 class="text-muted-foreground text-sm font-medium">
          Posts by {author.data.name}
        </h2>
        {
          authorPosts.length > 0 ? (
            <ul class="flex flex-col gap-4">
              {authorPosts
                .filter((post) => !post.data.draft)
                .map((post) => (
                  <li>
                    <BlogCard entry={post} />
                  </li>
                ))}
            </ul>
          ) : (
            <p class="text-muted-foreground">
              No posts available from this author.
            </p>
          )
        }
      </section>
    </div>
  </main>
</Layout>
