---
import Aside from '@/components/AsideNavigation.astro'
import BlogCard from '@/components/BlogCard.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/projects/ProjectCard.astro'
import { badgeVariants } from '@/components/ui/badge'
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getPostsByTag, getProjectsByTag } from '@/lib/data-utils'
import { Icon } from 'astro-icon/components'

export async function getStaticPaths() {
  const tagMap = await getAllTags()
  const uniqueTags = Array.from(tagMap.keys())

  return Promise.all(
    uniqueTags.map(async (tag) => {
      const posts = await getPostsByTag(tag)
      const projects = await getProjectsByTag(tag)
      return {
        params: { id: tag },
        props: { tag, posts, projects },
      }
    }),
  )
}

const { tag, posts, projects } = Astro.props
---

<Layout class="relative max-w-7xl px-4 pt-16">
  <PageHead
    slot="head"
    title={`Posts tagged with "${tag}"`}
    description={`A collection of posts tagged with ${tag}.`}
  />
  <main
    class="relative grid grid-cols-1 gap-4 md:grid-cols-4 md:gap-8 lg:grid-cols-[1fr_35rem_1fr] items-start"
  >
    <Aside />
    <div class="space-y-8">
      <div class="flex flex-wrap items-center gap-2">
        <h1 class="text-muted-foreground text-sm font-medium">Tagged with</h1>
        <span
          class="bg-secondary flex items-center gap-x-1 rounded-full px-3 py-1 text-sm font-medium"
        >
          <Icon name="lucide:hash" class="size-3" />{tag}
        </span>
      </div>
      <ul class="flex flex-col gap-y-4">
        {
          posts.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
        {
          projects.map((project) => (
            <li>
              <ProjectCard project={project} />
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
