---
import Aside from '@/components/AsideNavigation.astro'
import BlogCard from '@/components/BlogCard.astro'
import CraftCard from '@/components/CraftCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/projects/ProjectCard.astro'
import { Badge } from '@/components/ui/badge'
import { buttonVariants } from '@/components/ui/button'
import { SITE, TECHSTACK } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import {
  getAllProjects,
  getRecentCrafts,
  getRecentPosts,
  getRecentProjects,
} from '@/lib/data-utils'
import { cn } from '@/lib/utils'
import { Icon } from 'astro-icon/components'

const allProjects = await getAllProjects()
const projects = await getRecentProjects(SITE.featuredPostCount)
const crafts = await getRecentCrafts(SITE.featuredCraftCount)
const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="relative max-w-7xl px-4 pt-16">
  <PageHead slot="head" title="Home" />
  <main
    class="relative grid grid-cols-1 items-start gap-4 md:grid-cols-[1fr_35rem_1fr] md:gap-8"
  >
    <Aside className="sticky top-8" />
    <div class="space-y-20">
      <section>
        <div class="relative flex flex-col">
          <p class="text-muted-foreground font-mono text-sm text-balance">
            /front-end
          </p>
          <p class="text-foreground text-balance">
            I build interfaces that get out of the way.
          </p>
          <div class="mt-8 grid grid-cols-3 gap-4">
            <div class="flex flex-col gap-1">
              <span class="text-muted-foreground font-mono text-xs">/about</span
              >
              <Link href="/about" class="text-sm hover:underline"
                >Who, what, why</Link
              >
            </div>
            <div class="flex flex-col gap-1">
              <span class="text-muted-foreground font-mono text-xs">/now</span>
              <Link href="/now" class="text-sm hover:underline"
                >What I'm up to</Link
              >
            </div>
          </div>
        </div>
      </section>
      <section class="flex flex-col gap-2">
        <h3 class="text-muted-foreground font-mono text-sm text-balance">
          /stack-and-tools
        </h3>
        <div class="flex max-w-lg flex-wrap items-center justify-start gap-2">
          {
            TECHSTACK.map((tech) =>
              tech.href ? (
                <Link href={tech.href} external>
                  <Badge variant="outline">
                    <Icon name={tech.icon} class="size-4" />
                    {tech.name}
                  </Badge>
                </Link>
              ) : (
                <Badge variant="outline">
                  <Icon name={tech.icon} class="size-4" />
                  {tech.name}
                </Badge>
              ),
            )
          }
        </div>
      </section>
      <section class="flex flex-col gap-2">
        <Link
          href="/projects"
          class={cn(
            buttonVariants({ size: 'sm', variant: 'link' }),
            'w-fit px-0 text-muted-foreground hover:text-foreground',
          )}
        >
          /projects ({allProjects.length})
        </Link>
        <ul class="flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ProjectCard project={project} />
              </li>
            ))
          }
        </ul>
      </section>
      <section class="flex flex-col gap-2">
        <Link
          href="/craft"
          class={cn(
            buttonVariants({ size: 'sm', variant: 'link' }),
            'w-fit px-0 text-muted-foreground hover:text-foreground',
          )}
        >
          /craft ({crafts.length})
        </Link>
        <ul class="grid grid-cols-1 gap-4">
          {
            crafts.map((craft) => (
              <li>
                <CraftCard entry={craft} />
              </li>
            ))
          }
        </ul>
      </section>
      <section class="flex flex-col gap-2">
        <Link href="/writing">
          <h2 class="text-muted-foreground font-mono text-sm font-medium">
            /writing
          </h2>
        </Link>
        <ul class="flex flex-col gap-2">
          {
            blog.map((post) => (
              <li>
                <BlogCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </main>
</Layout>
