---
import Aside from '@/components/AsideNavigation.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import ProjectHead from '@/components/projects/ProjectHead.astro'
import ProjectNavigation from '@/components/projects/ProjectNavigation.astro'
import TOCHeader from '@/components/TOCHeader.astro'
import { badgeVariants } from '@/components/ui/badge'
import { Button, buttonVariants } from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'
import {
  getAdjacentProjects,
  getAllProjects,
} from '@/lib/data-utils'
import { cn, formatDate } from '@/lib/utils'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import { render } from 'astro:content'

export async function getStaticPaths() {
  const projects = await getAllProjects()
  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }))
}

const { project } = Astro.props
const currentProjectId = Astro.params.id
const { Content, headings } = await render(project)

const navigation = await getAdjacentProjects(currentProjectId)
---

<Layout class="relative max-w-7xl px-4 pt-16">
  <ProjectHead slot="head" project={project} />
  {
    headings?.length > 0 && (
      <TOCHeader slot="table-of-contents" headings={headings} />
    )
  }

  <main
    class="relative grid grid-cols-1 gap-4 md:grid-cols-4 md:gap-8 lg:grid-cols-[1fr_35rem_1fr] items-start"
  >
    <Aside />
    <div class="space-y-10">
      <div class="flex flex-col gap-y-3">
        <Breadcrumbs 
          items={[
          { label: 'Projects', href: '/projects', },
          { label: project.data.name, },
        ]} />
        <h1
          class="scroll-mt-31 text-3xl leading-tight font-medium sm:text-4xl"
          id="post-title"
        >
          {project.data.name}
        </h1>
        <div class="text-muted-foreground flex flex-wrap items-center gap-x-3 text-sm">
          <span>
            {formatDate(project.data.startDate)} –{' '}
            {project.data.endDate ? formatDate(project.data.endDate) : 'Present'}
          </span>
        </div>
        <div class="flex flex-wrap gap-2">
          {
            project.data.tags.map((tag) => (
              <a href={`/tags/${tag}`} class={badgeVariants({ variant: 'secondary' })}>
                <Icon name="lucide:hash" class="size-3" />
                {tag}
              </a>
            ))
          }
        </div>
        {
          project.data.link.startsWith('http') && (
            <Link
              href={project.data.link}
              external
              class={cn(buttonVariants({ variant: 'default' }), 'w-fit')}
            >
              Visit live site
            </Link>
          )
        }
      </div>
      {
        project.data.image && (
          <Image
            src={project.data.image}
            alt={project.data.name}
            width={1200}
            height={630}
            class="w-full rounded-lg object-cover"
          />
        )
      }
      <article class="prose max-w-none">
        <Content />
      </article>
      <ProjectNavigation nextPost={navigation.newer} prevPost={navigation.older} />
    </div>
  </main>

  <Button
    variant="outline"
    size="icon"
    className="group fixed right-8 bottom-8 z-50 hidden"
    id="scroll-to-top"
    title="Scroll to top"
    aria-label="Scroll to top"
  >
    <Icon
      name="lucide:arrow-up"
      class="mx-auto size-4 transition-all group-hover:-translate-y-0.5"
    />
  </Button>

  <script>
    document.addEventListener('astro:page-load', () => {
      const scrollToTopButton = document.getElementById('scroll-to-top')
      const footer = document.querySelector('footer')

      if (scrollToTopButton && footer) {
        scrollToTopButton.addEventListener('click', () => {
          window.scrollTo({ top: 0, behavior: 'smooth' })
        })

        window.addEventListener('scroll', () => {
          const footerRect = footer.getBoundingClientRect()
          const isFooterVisible = footerRect.top <= window.innerHeight

          scrollToTopButton.classList.toggle(
            'hidden',
            window.scrollY <= 300 || isFooterVisible,
          )
        })
      }
    })
  </script>
</Layout>
